<h1>Pages#help</h1>
<p>Find me in app/views/pages/help.html.erb</p>

<h1>
<% ["first", "second"].each do |name| %>
  <!-- <h3>something to repeat</h3> -->
  <%# bag = 4 + 5 %>
  <%= name %><br>
<% end %>
</h1>
